body{
	background-color:#222;
	font-family: 'Indie Flower', cursive;
	color:#555;
	font-size:14pt;
	margin:auto;
}
.pb{
	display:block;
	float:none;
	width:100%;
}
.container{
	margin:auto;
}
h1{
	font-size:55pt;
	padding:15px;
	padding-top:30px;
}
h4{
	padding:15px;
	font-size:25pt;
}
h1,h4{
	text-align:center;
	color:#EEE;
}
table{
	align:center;
	margin:auto;
}
