body{
	background-color:#222;
	font-family: 'Indie Flower', cursive;
	color:#555;
	font-size:14pt;
	margin:auto;
	line-height: 200%;
}
.pb{
	display:block;
	float:none;
	width:100%;
}
.container{
	margin:auto;
}
h1,h4{
	text-align:center;
	color:#333;
}
h1{
	font-size:55pt;
	padding:15px;
	padding-top:30px;
	
}
h2{
	font-size:45pt;
	color:#333;
}
h4{
	padding:15px;
	font-size:25pt;
}

table{
	align:center;
	margin:auto;
}
.card-heading{
	text-align:center;
}
.music{
	display:block;
	float:right;
	position:fixed;
	bottom:0;
	right:0;
}
audio{
	width:250;
}
.mute{
	width:25px;
	height:25px;
	margin-right:10px;
	background-color: white;
	background-image:url("../images/mute.png");
}